<h2><%= current_user.name %>'s Buckets</h2>
<br><br>
<% current_user.bucket_lists.uniq.each do |bucket| %>
    <h2><%= link_to bucket.name, bucket_list_path(bucket) %></h2><br>
<% end %>
<br><br><br>
<h4><%= link_to "Add A Bucket", new_bucket_list_path %></h4>
<br><br><br>
<h3><b>Want Inspiration?</b></h3>
<br><br>
<h4>Try Accomplishing: <%= @randomgoal.name %> from <%= link_to "This Bucket", bucket_list_path(@randomgoal.bucket_list_id) %></h4>