<h2>Create a New Bucket</h2>
<br>
<%= form_with model: @bucketlist, local: true do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>

    <%= f.fields_for :goals do |g| %>
    <%= g.label :name, "Add Your First Goal!" %><br>
    <%= g.text_field :name %>
    <% end %>

<br><br>
    <%= f.submit "Add Your Bucket" %>
<% end %>
<br><br>
<h3><%= link_to "Back to Your Buckets", bucket_lists_path %></h3>