<h2><b><%= @bucketlist.name %></b></h2>
<br>
<% if @bucketlist.goals != [] %>
    <h2><% @bucketlist.goals.incomplete.each do |goal| %>
        <%= link_to goal.name, bucket_list_goal_path(@bucketlist, goal) %><br><br>
        <% end %></h2>
        <% if @bucketlist.goals.accomplished.count >= 1 %><br>
            <h2><b>These Are The Goals You've Accomplished:</b><br><br>
            <% @bucketlist.goals.accomplished.each do |accomplishment| %>
            <%= link_to accomplishment.name, bucket_list_goal_path(@bucketlist, accomplishment) %><br><br>
            <% end %></h2>
        <% end %>
<% end %>
<br><br><br>
<h3><%= link_to "Add A New Goal", new_bucket_list_goal_path(@bucketlist) %></h3>
<br>
<h3><%= link_to "Edit Bucket", edit_bucket_list_path %> <%= link_to "Delete Bucket", bucket_list_path(@bucketlist), :method => :delete %></h3>
<br>
<h3><%= link_to "Back to Your Buckets", bucket_lists_path %></h3>