<h2><%= @bucketlist.name %></h2>
<br>
<% if @bucketlist.goals != [] %>
    <ul>
    <li><%= @bucketlist.goals.each do |goal| %>
        <%= goal.name %></li>
        <% end %>
    </ul>
<% end %>

<h3><%= link_to "Add A New Goal", new_goal_path %></h3>
<%# new_bucket_list_goal_path(@goal) %>
<br>
<h3><%= link_to "Delete Bucket", bucket_list_path(@bucketlist), :method => :delete %></h3>
<br>
<h3><%= link_to "Back to Your Buckets", bucket_lists_path %></h3>>