<h2><%= @bucketlist.name %></h2>
<br>
<% if @bucketlist.goals != [] %>
    <h2><% @bucketlist.goals.each do |goal| %>
        <%= link_to goal.name, bucket_list_goal_path(@bucketlist, goal) %><br>
        <% end %></h2>
<% end %>
<br><br><br>
<h3><%= link_to "Add A New Goal", new_bucket_list_goal_path(@bucketlist) %></h3>
<br>
<h3><%= link_to "Edit Bucket", edit_bucket_list_path %> <%= link_to "Delete Bucket", bucket_list_path(@bucketlist), :method => :delete %></h3>
<br>
<h3><%= link_to "Back to Your Buckets", bucket_lists_path %></h3>