<!DOCTYPE html>
<html>
  <head>
    <title>Bucket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <br><br><br>
  <footer>
  <ul>
    <% if user_signed_in? %>
        <%# <%= link_to 'Edit Your Account', edit_user_registration_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% end %>
    </ul>
    </footer>
</html>
